body {
   background-image: url("../images/chooper.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   padding-left: 15px;
   color: white; 
   font-family: sans-serif;
};

header {
   height: 50px;
}

h1 {
    float: right;
    font-size: 40px;
    font-family: 'Spectral SC', serif;
    margin: 15px 50px 10px 0px;
    color: yellow;
}

h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon {
    box-sizing: border-box;
    float:left;
    padding-top: 5px;
    height: 100px;
    Width: 150px;
    text-align: center;
    background: grey;
    font-size: 14px;
}

.hero {
    border: 2px solid green;
}
.enemy {
    border: 2px solid red;
}

.defender {
    border: 2px solid blue;
}
.defeated {
    background-color: green;
}

img {
    height: 65%;
}

.clearfix {
    clear: both;
}

.yourChar, .opponent{
    height: 100px;
}

.progress {
    margin-top: 5px;
    line-height: 120%;
}