body {
   background-image: url("../images/2560x1600.jpg");
   font-family: 'Didact Gothic', sans-serif;
   padding-left: 10px;  
};

h1 {
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin: 20px 150px 0px 0px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon {
    box-sizing: border-box;
    float:left;
    padding: 5px;
    height: 100px;
    Width: 150px;
    text-align: center;
}

.hero {
    border: 1px solid green;
}
.enemy {
    border: 1px solid red;
}

.defender {
    border: 1px solid blue;
}
.defeated {
    background-color: green;
}

img {
    height: 50px;
}

.clearfix {
    clear: both;
}

.yourChar, .opponent{
    height: 100px;
}

.progress {
    margin-top: 5px;
    line-height: 120%;
}